<!DOCTYPE html>
<html>

<header>
  <% include ../partials/head %>
</header>


<body class="container">
    <header>
      <% include ../partials/header %>
    </header>

  <main>
    <div class="jumbotron">
    


    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
