<!DOCTYPE html>
<html>

<head>
  <title>Index</title>
  <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <p>Test 1 working</p>
      <p><%= output %></p>
      <h2>Quotes!</h2>

      <div>
        <% quotesarray.forEach(function(quote){%>
          <div>
            <h3><%= quote.name %></h3>
            <p><%= quote.quote %></p>
          </div>
        <% }); %>
      </div>

    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
